footer.flex.flex-col.justify-center.items-center
    p.text-white OpenSource 2021 at 
        a(href="https://github.com/JHikyu/age-picker").text-blue-200.font-bold Github
    small.text-white Contributors: 
        a(href="https://github.com/JHikyu") @JHikyu